
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}
.main_div {
    width: 100%;
    height: 100vh;
    background-color: grey;
    padding: 50px 50px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.bridge {
    background-color: white;
}
.task_1, .task_2, .task_4, .task_5, .all_days {
    display: flex;
    gap: 20px;
    height: 25px;
    align-items: center;
    p {
        margin: 0;
    }
    .start_div_task_2 {
        height: 100%;
        width: 100px;
        background-color: brown;
    }
    .new_div_task_2 {
        height: 100%;
        width: 100px;
        background-color: blue;
    }
    .new_div_click {
        background-color: crimson;
    }
    .inp {
        width: 330px;
    }
    .btn_day {
        width: 75px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        text-decoration: none !important;
    }
    .btn_task_1 {
        background-color: white;
    }
    .changedColor{
        background-color: cadetblue;
    }
}
.task_2-20{
    display: flex;
    flex-direction: column;
    .btn{
        width: 150px;
    }
    li{
        background-color: antiquewhite;
        width: 50px;
        height: 20px;
        margin-bottom: 5px;
        padding-left: 5px;

    }
    .yellow{
        background-color: yellow;
    }
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    .custom_input{
        display: flex;
        flex-direction: column;
        gap: 5px;
        input {
            width: 300px;
        }
    }
    #btn_sbt {
        width: 100px;
        margin-top: 10px;
    }
    .rn {
        border: none;
    }
    .rb {
        border: 1px solid red;
    }
}
